/* estilo 3 */
main {
    /* Mesma consideração sobre o width do estilo 2 */
    /* width: calc(100% - 24px); */
    margin-bottom: 36px; /* Esta propriedade não era comum */
  }
  
  #head > p {
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(42, 42, 42);
  }
  
  .nome {
    font-size: 1em;
  }
  
  .preco {
    font-size: 1.08em;
  }
  
  .div-quant > div > p {
    font-size: 1.18em;
  }
  
  .div-falta {
    height: 50px; /* Mantido, pois é específico deste estilo */
  }
  
  .div-falta > p {
    font-size: 0.97em;
  }
  
  .div-add {
    max-width: 320px;
    margin-bottom: 32px; /* Esta propriedade não era comum */
  }
  
  .div-add > p {
    font-size: 1.13em;
  }
  
  #div_aviso > p {
    font-size: 1.05em;
    font-weight: 500;
    line-height: 23px;
  }
  
  #div-continue > p {
    font-size: 1.1em;
  }
  
  #entregar {
    font-size: 0.9em;
  }
  
  #div_cupom > input {
    font-size: 0.9em !important;
  }