/* estilo 2 */
  #head > p {
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(42, 42, 42);
  }
  
  .nome {
    font-size: 1em;
  }
  
  .preco {
    font-size: 1.08em;
  }
  
  .div-quant > div > p {
    font-size: 1.18em;
  }
  
  .div-falta {
    height: 50px;
  }
  
  .div-falta > p {
    font-size: 0.97em;
  }
  
  .div-add {
    max-width: 400px;
  }
  
  .div-add > p {
    font-size: 1.13em;
  }
  
  #div_aviso > p {
    font-size: 1.05em;
    font-weight: 500;
    line-height: 23px;
  }
  
  #div-continue > p {
    font-size: 1.1em;
  }
  
  #div_cupom > p {
    font-size: 1.05em;
    line-height: 21px;
  }
  
  #div_valor p {
    font-size: 1.1em;
  }
  
  #entregar {
    font-size: 0.9em;
  }
  
  
  #div_cupom > input {
    font-size: 1.05em !important;
    padding: 4px 17px;
    width: 45%;
  }