/* estilo 1 */
main {
  width: calc(100% - 14px);
}

#head > p {
  font-size: 1.2em;
  font-weight: 400;
}

.nome {
  font-size: 0.9em;
}

.div-quant > div > p {
  font-size: 1.15em;
}

.div-falta {
  height: auto; /* Alterado para remover altura fixa */
}

.div-falta > p {
  font-size: 0.92em;
}

.div-add {
  max-width: none; /* Mantido como none */
}

.div-add > p {
  font-size: 1.1em;
}

#div_aviso > p {
  font-size: 1.01em;
  font-weight: 500;
  line-height: 23px;
}

#div-continue > p {
  font-size: 1.1em;
}

#entregar {
  font-size: 0.9em;
}

#div_cupom > input {
  font-size: 0.9em !important;
}