*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 400;
}

html{
    height: auto;
}
body{
    background-color: rgb(223, 223, 223);
}

::-webkit-scrollbar{
   visibility: hidden;
   width: 0px;
}

div#entrada{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    display: none;
}
div#entrada>img{
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.435);
    border-radius: 10px;
    
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #D86B2B;
    height: 60px;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 4;
}
    footer>div{
        display: flex;
        height: 70%;
        align-items: center;
        gap: 5px;
        margin-top: 8px;
    }
    footer>div>p{
        font-family: "Fira Sans", serif;
        font-weight: 400;
        letter-spacing: normal;
    }
    .selected1{
        background-color: #e68f5d;
        border-radius: 3px;
        padding: 0px 10px;
    }
    
menu{
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 5;
    display: none;
}
#for_opcoes{
    height: 345px;
    width: 320px;
    position: absolute;
    bottom: 60px;
    background-color: white;
    position: absolute;
    right: 0px;
    display: flex;
    flex-flow: column;
    gap: 12px;
    border-radius: 10px 0px 0px 10px;
    padding-top: 10px;
}
    #for_opcoes>div{
       display: flex;
       align-items: center;
       padding: 10px 20px;
       gap: 7px;
    }
    #for_opcoes>div>span{
        font-size: 1.35em;
    }
    #for_opcoes>div>p{
        letter-spacing: 0.5px;
    }

header{
    background-color: #df6f2f;
    width: 100%;
    padding: 8px 0px;
    padding-top: 17px;
    box-sizing: border-box;
    margin-bottom: -1px;
}
    div#cabecalho{
        width: 80%;
        margin: auto;
        margin-top: 0px;
        padding: 5px 0px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        gap: 10px;
        align-items: center;
    }
    div#for_logo{
        height: 100%;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(255, 255, 255);
    }
    div#for_logo>img{
        height: 100%;
        border-radius: 50%;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.194);
    }
    div#for_logo>div{
       width: 170px;
    }
    #for_logo>div>p{
        font-size: 0.84em;
        letter-spacing: 0.5px;
        font-weight: 300;
        font-family: "Fira Sans", serif;
        line-height: 20px;
        text-align: justify;
        padding: 5px;
    }
    #for_logo>div>p>strong{
        font-family: "Fira Sans", serif;
        font-size: 0.95em;
        letter-spacing: 1.2px;
    }
    div#userEnotif{
        height: 100%;
        width: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div#userEnotif>div{
        display: none;
    }
    #img_user, #img_noti{
        object-fit: cover;
        border-radius: 50%;
        filter: invert(100%) opacity(0.7);
        background-color: rgba(0, 0, 0, 0.799);
    }
    #img_user{
      height: 45px;
      padding: 4px;
    }
    #img_noti{
        height: 35px;
        padding: 5px;
    }

    #div_search{
        width: 100%;
        background-color: #d86b2b;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    form#for_search{
        display: flex;
        flex-flow: row nowrap;
        width: 80%;
        margin: auto;
        height: 40px;
        padding: 13px 0px;
        padding-bottom: 14px;
    }
    form#for_search>input{
        height: 100%;
        width: 90%;
        border-radius: 20px 0px 0px 20px;
        border: none;
        font-weight: 300;
        font-size: 0.85em;
    }
    form#for_search>div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 20px 20px 0px;
        width: 12%;
    }
    form#for_search>div>span{
      color: rgb(111, 111, 111);
    }

main{
    margin-top: 18px;
    padding-bottom: 15px;
}
/*Banner promocional*/
    div#anuncio{
        width: 100%;
        margin: auto;
        margin-bottom: 35px;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    div#anuncio>p{
        width: 100%;
        text-align: center;
        margin-bottom: 14px;
        font-family: "Fira Sans", serif;
    }
    div#imgs_anun{
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        gap: 15px;
        height: 170px;
        overflow-x: hidden;
        margin-bottom: 17px;
    }
    div#imgs_anun>img{
        display: inline;
        height: 100%;
        min-width: 340px;
        border-radius: 5px;
        transform: translateX(-62%);
        background-color: rgb(190, 190, 190);
    }
    #pagination{
        height: 12px;
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
    }
    #pagination>span{
       height: 100%;
       width: 12px;
       background-color: rgb(159, 159, 159);
       border-radius: 50%;
    }
    .atual{
        padding: 2px !important;
    }

/*Seções*/
    div#for_sections{
        width: 100%;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 13px;
        padding: 6px;
        padding-left: 25px;
        padding-right: 0px;
        position: relative;
        gap: 10px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #for_sections>div{
        height: 100px;
        min-width: 100px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        flex: auto;
        padding-top: 5px;
    }
    .divNameSection{
        height: 45px;
        display: flex;
        align-items: center;
    }
    .divNameSection>p{
     text-align: center;
     font-size: 0.85em;
     letter-spacing: 0.5px;
    }
    #for_sections>div>img{
        height: 52px;
        width: 52px;
        background-color: white;
        border-radius: 30%;
        filter: brightness(0.84) contrast(2);
    }

    .catselected{
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 2px;
        box-shadow: 2px 2px 4px rgb(176, 176, 176);
    }
    .catselected img{
        border-radius: 10% !important;
        filter: brightness(0.84) contrast(2);
    }
    
/*Todos os produtos*/
    div#promos{
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 25px;
        padding-top: 0px;
        padding-right: 0px;
        box-sizing: border-box;
        justify-content: center;
        border-radius: 7px;
        position: relative;
        gap: 22px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
/**/
    .parte{
        height: 150px;
        min-width: 100%;
        display: flex;
        border: none;
        gap: 10px;
    }

    .for_prod{
      box-sizing: border-box;
      min-width: 380px;
      height: 160px;
      display: flex;
      background-color: white;
      border-radius: 7px;
      border: 1px solid rgb(193, 193, 193);
      padding-bottom: 10px;
      padding-top: 8px;

    }
    .oferta{
        width: 50%;
        height: 100%;
        margin: auto;
        border-radius: 4px;
        margin-bottom: 10px;
        position: relative;
    }
        .desconto{
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 0.84em;
            border-radius: 9px;
            background-color: rgb(216, 10, 10);
            padding: 0px 7px;
            color: white;
            z-index: 1;
        }
        .div_img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .div_img>img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            /*transform: scale(1.1);*/
            border-radius: 7px;
        }
        .peso{
            position: absolute;
            bottom: 10px;
            left: 15px;
            background-color: rgb(159, 159, 159);
            font-size: 0.8em;
            border-radius: 8px;
            color: white;
            padding: 0px 10px;
            letter-spacing: 0.5px;
        }

    .divDescOferta{
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
        p.nome{
            font-size: 0.8em;
            width: 100%;
            padding-right: 12px;
            letter-spacing: 1.1px;
            box-sizing: border-box;
            font-weight: 500;
            margin-bottom: 5px;
            line-height: 18px;
        }
        p.preco{
            font-weight: bold;
            text-align: center;
        }
    div.for_quant{
        width: 88%;
        height: 40px;
        margin: auto;
        background-color: #e3e3e3;
        border-radius: 18.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .for_menos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        font-size: 1.6em;
    }
    .for_quant>p{
        font-weight: 300;
        font-size: 1.2em;
        padding-right: 5px;
    }
    .mais_quant{
        display: flex;
        height: 290px;
        flex-flow: column nowrap;
        justify-content: center;
        border: 1px dashed red;
        padding: 0px 10px;
        background-color: #e3e3e3;
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        top: -125px;
        z-index: 1;
        display: none;
    }
    .mais{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2649CA;
        height: 100%;
        border-radius: 50%;
        color: white;
        width: 40px;
    }

