
#for_opcoes{
    position: absolute;
    right: 0px;
    bottom: 60px;
 }
    #for_opcoes>div>p{
        letter-spacing: 0.5px;
    }

    div#for_logo{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        color: rgb(255, 255, 255);
    }
/*Banner promocional*/
    div#anuncio{
        width: 100%;
    }
    div#anuncio>p{
        font-size: 1.18em;
    }
    div#imgs_anun>div>img{
        min-width: 290px;
        scroll-snap-align: center;
    }
    
/*Seções*/
/*
    @keyframes aparecer {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes rolarDedo {
        0% {
            opacity: 1;
            rotate: 15deg;
            transform: translateX(20px);
        }
        100%{
            opacity: 1;
            rotate: -7deg;
            transform: translateX(100px);
        }
    }
    @keyframes desaparecer {
        from {
            rotate: -7deg;
            transform: translateX(100px);
            opacity: 1;
        }
        to {
            rotate: -7deg;
            transform: translateX(100px);
            opacity: 0;
        }
    }

    #for_promos{
        width: calc(100% - 12px);
        margin-left: 12px;
        overflow-x: hidden;
    }
/*Todos os produtos*/
/**/
        p.nome{
            font-size: 0.7em;
            letter-spacing: 1px;
        }
        p.preco{
            font-weight: bold;
            text-align: center;
        }
    div.for_quant{
        width: 88%;
        height: 40px;
        margin: auto;
        background-color: #e3e3e3;
        border-radius: 18.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .for_menos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        font-size: 1.6em;
    }