*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 400;
}

html{
    height: auto;
}
body{
    background-color: #d6d1d1;
}

::-webkit-scrollbar{
   visibility: hidden;
   width: 0px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #2644B0;
    height: 60px;
    width: 100%;
    position: sticky;
    bottom: 0px;
    z-index: 1;
    color: white;
}
    footer>div{
        display: flex;
        height: 70%;
        align-items: center;
        gap: 5px;
        margin-top: 8px;
    }
    footer>div>p{
        font-family: "Fira Sans", serif;
        font-weight: 300;
    }
    .selected1{
        background-color: #2B51DA;
        border-radius: 3px;
        padding: 0px 10px;
    }

header{
    background-color: rgb(38, 68, 176);
    width: 100%;
    padding: 12px 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    margin-bottom: -1px;
}
    div#cabecalho{
        width: 95%;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 1px;
        padding-bottom: 5px;
        height: 60px;
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        align-items: center;
    }
    div#for_logo{
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-around;
    }
    div#for_logo>img{
        height: 94%;
        border-radius: 4px;
        transform: perspective(400px) rotateY(15deg) rotateX(10deg);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.264);
    }
    #for_logo>div>p{
        width: 140px;
        font-size: 0.75em;
        letter-spacing: 0.5px;
        font-style: italic;
        font-weight: 300;
        text-align: center;
    }
    #for_user, #for_noti{
        display: flex;
        background-color: #2b51da;
        border-radius: 50%;
    }
    div#for_user{
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        padding: 5px;
    }
    div#for_noti{
        height: 25px;
        width: 25px;
        padding: 10px;
    }
    div#for_user>img, div#for_noti>img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    

    form#for_search{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin: auto;
        height: 60px;
        background-color: rgb(38, 68, 176);
        padding: 10px 10px;
        position: sticky;
        top: 0;
        z-index: 3;
        box-sizing: border-box;
    }
    form#for_search>input{
        height: 100%;
        width: 90%;
        border-radius: 20px 0px 0px 20px;
        border: none;
        font-weight: lighter;
    }
    form#for_search>div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 20px 20px 0px;
        width: 12%;
    }
    form#for_search>div>span{
      color: rgb(111, 111, 111);
    }

main{
    margin-top: 15px;
}
/*Banner promocional*/
    div#anuncio{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        height: 200px;
        box-sizing: border-box;
    }
    div#anuncio>p{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        color: white;
    }
    div#imgs_anun{
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
        height: 165px;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    div#imgs_anun>img{
        display: inline;
        height: 100%;
        min-width: 80%;
        border-radius: 5px;
        transform: translateX(-90%);
        background-color: rgb(190, 190, 190);
    }

/*Seções*/
    div#for_sections{
        width: 100%;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 15px;
        padding: 6px;
        padding-left: 12px;
        padding-right: 0px;
        position: relative;
        gap: 10px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #for_sections>div{
        height: 100px;
        min-width: 100px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        flex: auto;
    }
    .divNameSection{
        height: 45px;
        display: flex;
        align-items: center;
    }
    .divNameSection>p{
     text-align: center;
     font-size: 0.85em;
     letter-spacing: 0.5px;
    }
    #for_sections>div>img{
        height: 52px;
        width: 52px;
        background-color: white;
        border-radius: 30%;
    }

    .catselected{
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        padding: 2px;
        box-shadow: 2px 2px 4px rgb(176, 176, 176);
    }
    
/*Todos os produtos*/
    div#promos{
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 12px;
        padding-top: 0px;
        padding-right: 0px;
        box-sizing: border-box;
        justify-content: center;
        border-radius: 7px;
        position: relative;
        gap: 7px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
/**/
    div#nav{
        width: 100% !important;
        height: 40px!important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 7px;
        gap: 10px;
        margin-bottom: 10px;
    }

    div#nav2{
        width: 100% !important;
        margin: auto !important;
        height: 40px!important;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 6px;
    }
    #div_vermais{
        width: 150px;
        height: 100%;
        background-color: rgb(194, 194, 194);
        display: flex;
        align-items: center;
        border-radius: 6px;
    }
    #div_vermais>p{
        margin: auto;
    }

    .parte{
        height: 150px;
        min-width: 100%;
        display: flex;
        border: none;
        gap: 10px;
    }

    .for_prod{
      box-sizing: border-box;
      min-width: 88%;
      display: flex;
      background-color: white;
      border-radius: 7px;
      border: 1px solid rgb(193, 193, 193);
      padding-bottom: 6px;
      padding-top: 8px;

    }
    .oferta{
        width: 50%;
        height: 100%;
        margin: auto;
        border-radius: 4px;
        margin-bottom: 10px;
        position: relative;
    }
        .desconto{
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 0.8em;
            border-radius: 9px;
            background-color: red;
            padding: 0px 7px;
            color: white;
            z-index: 1;
        }
        .div_img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .div_img>img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            /*transform: scale(1.1);*/
            border-radius: 7px;
        }
        .peso{
            position: absolute;
            bottom: 10px;
            left: 15px;
            background-color: rgb(159, 159, 159);
            font-size: 0.8em;
            border-radius: 8px;
            color: white;
            padding: 0px 10px;
            letter-spacing: 0.5px;
        }

    .divDescOferta{
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
        p.nome{
            font-size: 0.7em;
            width: 100%;
            padding-right: 12px;
            letter-spacing: 1px;
            box-sizing: border-box;
            font-weight: 550;
            margin-bottom: 5px;
        }
        p.preco{
            font-weight: bold;
            text-align: center;
        }
    div.for_quant{
        width: 88%;
        height: 40px;
        margin: auto;
        background-color: #e3e3e3;
        border-radius: 18.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .for_menos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        font-size: 1.6em;
    }
    .for_quant>p{
        font-weight: 300;
        font-size: 1.2em;
        padding-right: 5px;
    }
    .mais_quant{
        display: flex;
        height: 290px;
        flex-flow: column nowrap;
        justify-content: center;
        border: 1px dashed red;
        padding: 0px 10px;
        background-color: #e3e3e3;
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        top: -125px;
        z-index: 1;
        display: none;
    }
    .mais{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2649CA;
        height: 100%;
        border-radius: 50%;
        color: white;
        width: 40px;
    }

