#for_logo>div>p{
    display: none;
}
p.nome{
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: 600;
}
.for_prod{
    max-width: 300px;
}
#for_promos{
    width: calc(100% - 5px);
    margin-left: 5px;
}