 #for_logo>div>p>strong{
        font-size: 0.95em;
        letter-spacing: 1.2px;
    }
/*Banner promocional*/
    div#anuncio{
        width: calc(100% - 20px);
    }
    div#anuncio>p{
        font-size: 1.25em;
    }
    div#imgs_anun{
        gap: 17px;
    }
    div#imgs_anun img{
        min-width: 340px;
    }

#for_promos{
    width: calc(100% - 20px);
    margin-left: 20px;
}
.for_prod{
    max-width: 340px;
}
    .for_quant>p{
        font-weight: 300;
        font-size: 1.2em;
        padding-right: 5px;
    }


