*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    background-color: #eeeeee;
}
::-webkit-scrollbar{
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#prod_section{
    width: calc(100% - 20px);
    max-width: 430px;
    max-height: max-content;
    margin: auto; 
    margin-top: 10px;
    background-color: white;
    padding-bottom: 12px;
    border-radius: 8px 8px 20px 20px;
    border: 1px solid rgb(185, 185, 185);
    box-shadow: 0px 0px 4px rgb(161, 161, 161);
    position: relative;
    z-index: 2;
}

    #div_pai_prod{
        padding: 0px 12px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px #d2d2d2;
    }
    #div_prod{
        position: relative;
        width: 100%;
        margin: auto;
    }
    #desconto{
        position: absolute;
        top: 8px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #CDD4AE;
        width: 100px;
        height: 27px;
        border-radius: 7px 0px 15px 0px;
        color: #13450A;
        font-family: "Inter", Arial, Helvetica, sans-serif;
    }
    #peso{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 75px;
        position: absolute;
        bottom: 9px;
        left: 0px;
        background-color: rgb(214, 214, 214);
        color: rgb(0, 0, 0);
        border-radius: 13px;
    }
    #div-main-img{
        width: 100%;
        max-width: 500px;
        margin: auto;
        overflow: hidden;
        box-sizing: border-box;
        padding: 12px;
    }
    #div_prod img{
        display: block;
        width: 100%;
        max-width: 380px;
        max-height: 300px;
        margin: auto;
        object-fit: contain;
        object-position: center;
    }
    #name_prod{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 1px 0px #d0d0d0;
        margin-bottom: 14px;
        padding: 15px 0px;
    }
    #name_prod>p{
        width: calc(100% - 30px);
        margin: auto;
        line-height: 22px !important;
        font-family: "Inter", sans-serif;
        letter-spacing: 0.9px;
        font-weight: 400;
        text-transform: uppercase;
    }

    #main-preco{
        height: 36px;
        border-bottom: 1px solid #cacaca;
        margin-bottom: 12px;
    }
    #main-preco p{
        width: 100%;
        text-align: center;
        font-family: "Inter";
        font-weight: 500;
    }
    #div_variacoes{
        width: calc(100% - 30px);
        margin: auto;
        position: relative;
    }
    #vari_amostra{
        width: 100%;
        display: flex;
        flex-flow: column;
        box-shadow: 0px 1px 0px #c3c3c3;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #p-head{
        width: 100%;
        text-align: center;
        background-color: #dfdfdf;
        padding: 10px 0px;
        margin-bottom: 10px;
        text-transform: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    #variacoes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    #variacoes>div{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 47.5%;
        flex: 1 0 auto;
        background-color: #dfdfdf;
    }
    #variacoes>div>p{
        padding: 0px 10px;
        border-radius: 3px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        font-family: "Inter", sans-serif;
    }

    #vari_retorno{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        box-shadow: 0px 2px 4px rgb(214, 214, 214), 0px -2px 4px rgb(214, 214, 214);
        padding-bottom: 10px;
        margin-bottom: 20px;
        border: 1px solid #c6c6c6;
        display: none;
    }

    #head-retorno{
        height: 40px;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(228, 228, 228);
        margin-bottom: 12px;
    }
    #head-retorno  span{
        font-weight: 500;
    }
    #head-retorno>p{
        width: calc(100% - 40px);
        text-align: center;
    }
    #head-retorno>div{
        height: 100%;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divar{
        display: flex;
        align-items: center;
        height: 37px;
        min-width: 46%;
        max-width: 97%;
        margin-bottom: 8px;
        text-transform: uppercase;
        background-color: rgb(232, 232, 232);
        box-sizing: border-box;
        padding: 0px 10px;
    }
    .divar>p{
        width: 100%;
        text-align: center;
    }


    #pver_mais{
        color: rgb(114, 114, 114);
        font-weight: bold;
    }

    .var_selected{
        background-color: #CECEE1 !important;
        border: 1px solid #9191be !important;
    }

    #quantEsubtotal{
        display: flex;
        width: calc(100% - 30px);
        height: 40px;
        margin: auto;
        margin-bottom: 18px;
        justify-content: space-between;
    }
    #quantidade{
        display: flex;
    }

    .for_quant{
        width: 40%;
        height: 100%;
        background-color: #e3e3e3;
        border-radius: 18.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .for_menos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 100%;
    }
    .for_quant>p{
        font-weight: 300;
        padding-right: 5px;
    }
    #selec_quant{
        width: calc(100% - 30px);
        margin: auto;
        margin-bottom: 10px;
        display: none;
    }
    #selec_quant>p{
        margin-bottom: 5px;
        color: rgb(50, 50, 50);
    }
    .mais_quant{
        overflow: auto;
        width: 100%;
        background-color: #e3e3e3;
        border-radius: 6px;
        border: 1px solid #a5a5a5;
    }
    .mais_quant>div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mais_quant>div>p{
        text-align: center;
        padding: 9px 12px;
        border-right: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
    }
    .mais{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgb(198, 77, 77);
        color: white;
    }
    #div_sub{
        display: flex;
        width: 57.3%;
        align-items: center;
        background-color: #dfdfdf;
        border-radius: 5px;
        justify-content: center;
        gap: 10px;
    }
    #p_sub{
        font-weight: bold;
        color: rgb(80, 80, 80);
    }
    #div_info{
        width: calc(100% - 34px);
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding-bottom: 20px;
        padding-top: 20px;
        display: none;
    }
    #info_head{
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        gap: 8px;
        height: 40px;
    }
    #info_head>p{
        font-weight: bold;
        color: rgb(95, 95, 95);
    }

/*Seção de similares*/
#similares_section{
    width: calc(100% - 20px);
    max-width: 430px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0px 0px 4px rgb(161, 161, 161);
    overflow-y: hidden;
    position: relative;
}
.sombra{
    position: absolute;
    top: 0;
    left: 0;
}
.sombra2{
    position: absolute;
    bottom:0;
    left: 0;
}
    #pai_similares{
        width: 100%;
        margin: auto;
    }

    #head_similares{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #head_similares>p{
        width: 100%;
        text-indent: 10px;
        font-family: "Roboto Condensed", sans-serif;
    }

    .lista_similares{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        gap: 12px; 
    }
    .pai_prod{
        display: flex;
        width: 100%;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 0px 2px rgb(203, 203, 203);
        flex: 1 1 auto;
    }
    .oferta{
        display: flex;
        justify-content: center;
        width: 50%;
        max-height: 100%;
        padding: 4px;
        box-sizing: border-box;
        position: relative;
    }
        .desconto{
            align-self: flex-start;
            border-radius: 9px;
            background-color: #0e7115;
            padding: 0px 7px;
            color: white;
            z-index: 1;
            font-family: "Poppins",Arial,sans-serif;
            position: absolute;
            top: 5px;
            left: 5px;
        }
        .div_img{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding: 5px;
        }
        .div_img>img{
            display: block;
            margin: auto;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .peso{
            position: absolute;
            bottom: 5px;
            left: 5px;
            align-self: flex-start;
            font-family: "Poppins",Arial,sans-serif;
            background-color: #D6D6D6;
            padding: 1px 7px;
            border-radius: 12px;
        }
        
    .divDescOferta{
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: 12px 10px;
        box-sizing: border-box;
        gap: 12px;
        align-self: center;
    } 
        .nome{
            text-transform: uppercase;
            font-family: "Inter",Arial, Helvetica, sans-serif;
        }
        .preco{
            text-align: center;
            font-family: "Fira Sans",Arial,sans-serif;
        }