*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: #eeeeee;
}

::-webkit-scrollbar{
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#prod_section{
    width: calc(100% - 30px);
    max-width: 430px;
    margin-left: 15px;
    margin-bottom: 18px;
    margin-top: 10px;
    background-color: white;
    padding-bottom: 15px;
    border-radius: 8px 8px 20px 20px;
    box-shadow: 0px 1px 3px rgb(182, 182, 182);
}

#div_pai_prod{
    padding: 0px 12px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px #d2d2d2;
}
#div_prod{
    position: relative;
    width: 100%;
    margin: auto;
}
#desconto{
    position: absolute;
    top: 8px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100px;
    height: 27px;
    border-radius: 7px 0px 15px 0px;
    color: white;
}
#peso{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 75px;
    position: absolute;
    bottom: 9px;
    left: 0px;
    background-color: rgb(159, 159, 159);
    color: white;
    border-radius: 13px;
}
#div-main-img{
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px;
}
#div_prod img{
    display: block;
    width: 100%;
    max-width: 380px;
    max-height: 300px;
    margin: auto;
    object-fit: contain;
    object-position: center;
}
#name_prod{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 0px #d0d0d0;
    margin-bottom: 14px;
    padding: 12px 0px;
}
#name_prod>p{
    width: calc(100% - 30px);
    margin: auto;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    letter-spacing: 0.9px;
    font-weight: 400;
}

#div_variacoes{
    width: calc(100% - 30px);
    margin: auto;
    position: relative;
}
#vari_amostra{
    width: 100%;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 1px 0px #c3c3c3;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#p-head{
    width: 100%;
    text-align: center;
    background-color: #dfdfdf;
    padding: 10px 0px;
    margin-bottom: 10px;
    text-transform: none;
}
#variacoes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
#variacoes>div{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 47.5%;
    flex: 1 0 auto;
    background-color: #dfdfdf;
}
#variacoes>div>p{
    padding: 0px 10px;
    border-radius: 3px;
    letter-spacing: 1.3px;
    font-size: 0.85em;
    text-transform: uppercase;
}

#vari_retorno{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    box-shadow: 0px 2px 4px rgb(214, 214, 214), 0px -2px 4px rgb(214, 214, 214);
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #c6c6c6;
    display: none;
}

#head-retorno{
    height: 40px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 228, 228);
    margin-bottom: 12px;
}
#head-retorno  span{
    font-weight: 500;
    font-size: 1.45em;
}
#head-retorno>p{
    width: calc(100% - 40px);
    text-align: center;
}
#head-retorno>div{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divar{
    display: flex;
    align-items: center;
    height: 37px;
    min-width: 46%;
    max-width: 97%;
    margin-bottom: 8px;
    text-transform: uppercase;
    background-color: rgb(232, 232, 232);
    box-sizing: border-box;
    padding: 0px 10px;
}
.divar>p{
    width: 100%;
    text-align: center;
}


#pver_mais{
    color: rgb(114, 114, 114);
    font-weight: bold;
}

.var_selected{
    background-color: #CECEE1 !important;
    border: 1px solid #9191be !important;
}

#quantEsubtotal{
    display: flex;
    width: calc(100% - 30px);
    height: 40px;
    margin: auto;
    margin-bottom: 18px;
    justify-content: space-between;
}
#quantidade{
    display: flex;
}

.for_quant{
    width: 40%;
    height: 100%;
    background-color: #e3e3e3;
    border-radius: 18.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.for_menos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    font-size: 1.6em;
}
.for_quant>p{
    font-weight: 300;
    font-size: 1.2em;
    padding-right: 5px;
}
#selec_quant{
    width: calc(100% - 30px);
    margin: auto;
    margin-bottom: 10px;
    display: none;
}
#selec_quant>p{
    margin-bottom: 5px;
    color: rgb(50, 50, 50);
}
.mais_quant{
    overflow: auto;
    width: 100%;
    background-color: #e3e3e3;
    border-radius: 6px;
    border: 1px solid #a5a5a5;
}
.mais_quant>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mais_quant>div>p{
    text-align: center;
    padding: 9px 12px;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}
.mais{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(198, 77, 77);
    color: white;
}
#div_sub{
    display: flex;
    width: 57.3%;
    align-items: center;
    background-color: #dfdfdf;
    border-radius: 5px;
    justify-content: center;
    gap: 10px;
}
#p_sub{
    font-weight: bold;
    color: rgb(80, 80, 80);
}
#div_info{
    width: calc(100% - 30px);
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    display: none;
}
#info_head{
    display: flex;
    margin: auto;
    align-items: center;
    gap: 8px;
    height: 40px;
}
#info_head>p{
    font-weight: bold;
    color: rgb(95, 95, 95);
}
#div_info_desc>p{
    width: 90%;
    margin: auto;
}

#similares_section{
    padding-bottom: 10px;
}
#pai_similares{
    width: calc(100% - 30px);
    margin: auto;
}
#head_similares{
    height: 40px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    background-color: rgb(226, 226, 226);
}
#head_similares>p{
  padding: 10px 0px;
  font-size: 1.1em;
  text-indent: 10px;
}
#div_vermais{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(203, 203, 203);
}
#div_vermais>p{
    font-size: 0.95em;
}

.lista_similares{
    padding-bottom: 12px;
}
.pai_prod{
    display: flex;
    align-items: center;
    min-width: 290px;
    max-width: 350px;
    height: 150px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 2px rgb(203, 203, 203);
}
.oferta{
    width: 50%;
    height: 100%;
    position: relative;
}
    .desconto{
        position: absolute;
        top: 7px;
        left: 9px;
        font-size: 0.84em;
        border-radius: 9px;
        background-color: #de4f53;
        padding: 0px 7px;
        color: white;
        z-index: 1;
        font-family: "Poppins",Arial,sans-serif;
    }
    .div_img{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 5px;
    }
    .div_img>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    .peso{
        position: absolute;
        bottom: 7px;
        left: 9px;
        font-family: "Poppins",Arial,sans-serif;
        background-color: rgb(108, 108, 108);
        padding: 1px 6px;
        font-size: 0.84em;
        color: white;
        border-radius: 12px;
    }
    
.divDescOferta{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 8px;
} 
    .nome{
        font-family: "Poppins",Arial,sans-serif;
        font-size: 0.85em;
     
    }
    .preco{
        text-align: center;
        font-family: "Fira Sans",Arial,sans-serif;
    }

/* #similares_section{
    
} */