main{
    display: flex;
    padding: 12px 0px;
    width: max-content;
    margin: auto;
}
#prod_section{
    min-width: 350px;
    max-width: 350px;
    margin: 0;
    z-index: 1;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid rgb(187, 187, 187);
    box-sizing: border-box;
    margin-right: 15px;
}
    #desconto{
        width: 80px;
        font-size: 1.05em;
    }
    #peso{
        height: 25px;
        width: 60px;
        font-size: 1.05em;
    }
    #name_prod>p{
        font-weight: 500;
        line-height: 25px;
        font-size: 1em;
        color: rgb(22, 22, 22);
    }

    #p-head{
        font-size: 1.1em;
    }
    #variacoes>div>p{
        font-size: 0.92em;
    }
    #p_sub{
        font-size: 1.05em;
    }
#similares_section{
    width: 190px;
    min-height: 100%;
    margin: 0;
    border-radius: 0px 7px 7px 0px;
    border-left: none;
    padding: 0px 10px 0px 15px;
    position: relative;
    box-shadow: none;
}
.sombra{
    display: block;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.082), rgba(255, 255, 255, 0));
    z-index: 2;
    display: none;
}
#lista2{
    display: none;
}
#pai_similares{
    display: flex;
    justify-content: center;
}
#head_similares{
    height: 60px;
}
#head_similares>p{
    text-indent: 0px;
    text-align: center;
    font-size: 1.1em !important;
}
.lista_similares{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.pai_prod{
    display: flex;
    flex-direction: column;
    width: 165px;
    min-height: 290px;
    background-color: rgb(249, 249, 249);
}
.oferta{
    width: 100%;
    height: 165px;
    position: relative;
}

    .div_img>img{
        max-width: 182px;
        mix-blend-mode: multiply;
    }

.divDescOferta{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 18px;
    box-sizing: border-box;
    gap: 10px;
} 

    .nome{
        font-size: 0.84em;
        letter-spacing: 0.76px;
        line-height: 20px;
    }

    #head_similares>p{
        font-size: 1.2em;
        letter-spacing: 0.74px;
    }

    .desconto{
        width: 60px;
        align-self: flex-end;
        font-size: 0.89em;
        letter-spacing: 0.8px;
        padding: 0px;
        text-align: center;
        left: 10px;
        bottom: 0px;
    }
    .peso{
        width: 60px;
        align-self: flex-end;
        font-size: 0.89em;
        letter-spacing: 0.8px;
        left: calc(100% - 70px);
        bottom: 0px;
        padding: 0px;
        text-align: center;
    }
    .preco{
        font-size: 1.25em;
    }