#desconto{
    width: 80px;
    font-size: 0.95em;
}
#peso{
    height: 25px;
    width: 60px;
    font-size: 0.95em;
}
#name_prod>p{
    font-weight: 500;
    line-height: 20px;
    font-size: 0.95em;
    color: rgb(22, 22, 22);
}
.nome{
    font-size: 0.85em;
    letter-spacing: 0.8px;
}
#variacoes>div>p{
   font-size: 0.88em;
}

/*Seção de similares*/
#similares_section{
    width: calc(100% - 20px);
}
.desconto{
    font-size: 0.84em;
    letter-spacing: 0.8px;
}
.peso{
    font-size: 0.84em;
    letter-spacing: 0.8px;
}

